a{
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -50px;
  margin-left: -50px;
}
.col-12{
  width: 100%;
  height: 5px;
}
.col-2{
  width:2%;
}
.col-8{
  padding-left:0px;
  padding-right:0px;
  width: 96%;
  height: 600px;
  background-color: #003943;
  border-radius: 8px;

}
.chat {
  width: 80%;
  height: 500px;
  background-color: #003943;
  border-radius: 8px;
}
.chat-type{
  color:white;
  margin-left: 2%;
  margin-top: 3%;
}
.usuary{
  width: 31%;
  height: 505px;
  background:white;
  margin-left: 1%;
  float: left;
  border-radius: 8px;
  margin-top: 4%;
  overflow-y: scroll;
}
.friend{
  height: 65px;
  list-style: none;
  margin-left: -40px;
}
img{
  width: 35px;
  float: left;
}
.name{
  color:#00AC8B;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.2em;
  font-weight: bold;
  margin-top: 0%;
}
.last-message{
  color:#003943;
  font-family: 'Raleway', sans-serif;
  font-size: 0.1em;
  margin-top: -2px;
}
.text-small{
  width: 80%;
  height: 10px;
}
.text-hour{
  color:#003943;
  font-family: 'Raleway', sans-serif;
  font-size: 0.1em;
  float: right;
  margin-right: 3%;
}
.text-number{
  background-color: #FF1E42;
  font-family: 'Raleway', sans-serif;
  color: white;
  float: right;
  margin-right: 4%;
  padding-left: 2%;
  padding-right: 2%;
}
.text-check{
  background-color: #00AC8B;
  font-family: 'Raleway', sans-serif;
  color: white;
  float: right;
  margin-right: 4%;
  padding-left: 2%;
  padding-right: 2%;
}
.messages{
  width: 65%;
  height: 505px;
  background:white;
  margin-left: 1%;
  border-radius: 8px;
  float: right;
  margin-right: 2%;
  margin-top: 4%;
  overflow-y: scroll;
}
textarea{
  margin-left: 2%;
  border-radius: 8px;
  margin-top: 1%;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 0.5em;
}
.button{
  color:white;
  font-weight: bold;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  margin-left: 15%;
  margin-top:2px;
  width: 80px;
  border: 2px solid white;
  float: left;
}

.message-list{
  list-style: none;
}
.avatar2{
  float: right;
}
.text-hour2{
  color:#003943;
  font-family: 'Raleway', sans-serif;
  font-size: 0.1em;
  float: left;
  margin-right: 3%;
  margin-left: -115px;
}
.name2{
  color:#F1B321;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.3em;
  font-weight: bold;
  margin-top: 1%;
  margin-left:110px;
}
.message{
  margin-left: -30px;
}
.reloj{
  width: 5px;
  margin-right: 1px;
}
.attach{
  width: 8px;
  margin-right: 4px;
  float: right;
}


@media only screen  and (min-width : 1224px) {
a{
  text-decoration: none;
}
.col-12{
  width: 100%;
  height: 30px;
}
.col-2{
  width: 10%;
}
.col-8{
  padding-left:0px;
  padding-right:0px;
  width: 80%;
  height: 600px;
  background-color: #003943;
  border-radius: 8px;

}
.chat {
  width: 80%;
  height: 600px;
  background-color: #003943;
  border-radius: 8px;
}
.chat-type{
  color:white;
  margin-left: 2%;
  margin-top: 3%;
}
.usuary{
  width: 29%;
  height: 525px;
  background:white;
  margin-left: 2%;
  float: left;
  border-radius: 8px;
  margin-top: 4%;
  overflow-y: scroll;
}
.friend{
  height: 65px;
  list-style: none;
  margin-left: -30px;
}
img{
  width: 55px;
  float: left;
}
.name{
  color: #F1B321;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 1%;
}
.last-message{
  color:#003943;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  margin-top: -15px;
}
.text-small{
  width: 100%;
  height: 70;
}
.text-hour{
  color:#003943;
  font-family: 'Raleway', sans-serif;
  font-size: 0.7em;
  float: right;
  margin-right: 3%;
}
.text-number{
  background-color: #FF1E42;
  font-family: 'Raleway', sans-serif;
  color: white;
  float: right;
  margin-right: 4%;
  padding-left: 2%;
  padding-right: 2%;
}
.text-check{
  background-color: #F1B321;
  font-family: 'Raleway', sans-serif;
  color: white;
  float: right;
  margin-right: 4%;
  padding-left: 2%;
  padding-right: 2%;
}
.messages{
  width: 65%;
  height: 445px;
  background:white;
  margin-left: 1%;
  border-radius: 8px;
  float: right;
  margin-right: 2%;
  margin-top: 4%;
  overflow-y: scroll;
}
textarea{
  margin-left: 2%;
  border-radius: 8px;
  margin-top: 1%;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
}
.button{
  color:white;;
  font-weight: bold;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  margin-left: 1%;
  margin-top:1%;
  width: 80px;
  border: 2px solid white;
}
.button2{
  margin-top:5px;
}
.message-list{
  list-style: none;
}
.avatar2{
  float: right;
}
.text-hour2{
  color:#003943;
  font-family: 'Raleway', sans-serif;
  font-size: 0.7em;
  float: left;
  margin-right: 3%;
  margin-left: -450px;
}
.name2{
  color:#00AC8B;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 1%;
  margin-left: 450px;
}
.reloj{
  width: 15px;
  margin-right: 4px;
}
.attach{
  width: 20px;
  margin-right: 4px;
  float: right;
}
}
