a{
  text-decoration: none;
}

li{
  list-style: none;
}

div.row{
  height: 830px;
  background-color: #003943;
}

div.chats{
  height: 90%;
  background-color: white;
  border-radius: 25px;
  margin: auto 1.25%;
}

div.conversation{
  height: 90%;
  margin: auto 1.25%;
  padding: 0;
}

div.messages2{
  width: 98%;
  height: 70%;
  background-color: white;
  border-radius: 25px;
}

div.text{
  width: 100%;
  height: 25%;
  border-radius: 25px;
  margin: 4% auto;
}

div.textarea{
  width: 70%;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  padding: 0;
}

div.text button.send{
  width: 80%;
  height: 40%;
  margin-bottom: 30%;
  margin-left: 15px;
  border-radius: 15px;
  background-color: #00AB8C;
  border: 2px solid white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
}

div.text button.attach{
  width: 80%;
  height: 40%;
  margin-top: -10px;
  margin-right: 12px;
  border-radius: 15px;
  background-color: #F1B321;
  border: 2px solid white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
}

.usuary{
  padding: 10px;
  height: 720px;
  overflow-y: scroll;
  border-radius: 25px;
}

.friend{
  height: 90px;
  list-style: none;
  margin-left: -40px;
}

img{
  width: 70px;
  float: left;
}

.name{
  color:#00AC8B;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 3%;
}

.last-message{
  color:#003943;
  font-family: 'Raleway', sans-serif;
  font-size: 0.7em;
  margin-top: -2px;
}

.text-small{
  width: 80%;
  height: 10px;
}

.text-hour{
  color:#003943;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  float: right;
  margin-right: 3%;
}

.text-number{
  background-color: #FF1E42;
  font-family: 'Raleway', sans-serif;
  color: white;
  float: right;
  margin-right: 4%;
  padding-left: 2%;
  padding-right: 2%;
}

.attach{
  width: 20px;
  margin-right: 4px;
  float: right;
}

.messages{
  width: 97%;
  height: 500px;
  margin-left: 1%;
  float: right;
  margin-right: 2%;
  margin-top: 1px;
  overflow-y: scroll;
}

.text-check{
  background-color: #00AC8B;
  font-family: 'Raleway', sans-serif;
  color: white;
  float: right;
  margin-right: 4%;
  padding-left: 2%;
  padding-right: 2%;
}

.avatar2{
  float: right;
}

.text-hour2{
  color:#003943;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  float: left;
  margin-right: 3%;
  margin-left: -300%;
}
.name2{
  color:#F1B321;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 1%;
  margin-left: 75%;
}

.message{
  margin-left: -30px;
}

.reloj{
  width: 20px;
  margin-right: 1px;
  margin-top: 2px;
}

div.textarea textarea{
  width: 96%;
  height: 160px;
  margin: 2%;

  border: none;
}