<nav>
    <a routerLink="/main" routerLinkActive="active"><img src="C:\Users\rodri\OneDrive\Escritorio\ProyectoFindaGuide\findAguide\findAguide\src\assets\logo\logo_white.png"
            class="logo" alt=""></a>
        <button class="slide" (click)="show=!show"><img src="C:\Users\rodri\OneDrive\Escritorio\ProyectoFindaGuide\findAguide\findAguide\src\assets\images\nav.png" alt=""></button>
        <div class="menu" *ngIf=show>
            <hr>
            <p><a routerLink="/user-edit-profile" routerLinkActive="active">Profile</a></p>
            <hr>
            <p><a routerLink="/messages" routerLinkActive="active">Messages</a></p>
            <hr>
            <p><a routerLink="/my-trips" routerLinkActive="active">My Trips</a></p>
            <hr>
            <p><a routerLink="" routerLinkActive="active">Log Out</a></p>
            <hr>
        </div>
</nav>
<router-outlet></router-outlet>