<div class="container">
    <div class="header">
        <img src="../../../assets/logo/logo_white.png" alt="">
    </div>
    <div class="title">
        You are going to register as a...
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-1"></div>
        <div class="col-lg-3 col-md-6 col-sm-4 col-10 background">
            <img src="../../../assets/logo/icon.png" alt=""><br>
            <strong><a routerLink="/register-form" routerLinkActive="active">USER</a></strong>
        </div>
        <div class="col-lg-1 col-md-3 col-sm-4 col-1"></div>
        <div class="col-lg-1 col-md-3 col-sm-4 col-1"></div>
        <div class="col-lg-3 col-md-6 col-sm-4 col-10 background">
            <img src="../../../assets/logo/icon.png" alt=""><br>
            <strong><a routerLink="/register-form" routerLinkActive="active">GUIDER</a></strong>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-1"></div>
    </div>
</div>
<router-outlet></router-outlet>