<!--NAV BAR FOR USERS-->
<div class="userNavBarMenuCard" id="userNavBarMenuCard" style="overflow: hidden;display: inline-block;">
  
  <div class="card" style="width: 1500px;height: 800px;">
    <div class="card-header">
      <div class="row">
        <div class="col text-center">
          <img class="imgGuideProfilePic" src="../../../assets/images/clientsProfilePics/GudjohnsenProfPic.PNG"
            alt="EidurGudjohnsen">
        </div>
      </div>
      <div class="row">
        <div class="col-3  text-center">
          <h4 class="title">Name</h4>
          <span class="subText">Eidur Gudjohnsen</span>
        </div>
        <div class="col-5  text-center">
          <h4>Languages </h4>
          <span class="subText">French</span><br>
          <span id='subtext' class="subText">English</span><br>
          <span class="subText">Icelandic</span><br>
        </div>
        <div class="col-4  text-center">
          <h4>Popularity</h4>
          <div class="wrapper" style="display: inline-block; text-align: center; width: 170px;">
            <span class="rating">
              <input id="rating5" type="radio" name="rating" value="5">
              <label for="rating5">5</label>
              <input id="rating4" type="radio" name="rating" value="4">
              <label for="rating4">4</label>
              <input id="rating3" type="radio" name="rating" value="3">
              <label for="rating3">3</label>
              <input id="rating2" type="radio" name="rating" value="2" checked>
              <label for="rating2">2</label>
              <input id="rating1" type="radio" name="rating" value="1">
              <label for="rating1">1</label>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12  text-center">
          <h4>Description</h4>
          <div class="subText">
            Lorem
            Ipsum is
            simply dummy text of the
            printing
            and
            typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="nav flex-column nav-pills" style="font-family: 'Raleway', sans-serif;" id="v-pills-tab" role="tablist"
        aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="true">Profile</a>
        <a class="nav-link" style="font-family: 'Raleway', sans-serif;" id="v-pills-messages-tab" data-toggle="pill"
          href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
        <a class="nav-link" style="font-family: 'Raleway', sans-serif;" id="v-pills-mytrips-tab" data-toggle="pill"
          href="#v-pills-mytrips" role="tab" aria-controls="v-pills-mytrips" aria-selected="false">My Trips</a>
        <a class="nav-link" style="font-family: 'Raleway', sans-serif;" id="v-pills-settings-tab" data-toggle="pill"
          href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        <a class="nav-link" style="font-family: 'Raleway', sans-serif;" id="v-pills-logout-tab" data-toggle="pill"
          href="#v-pills-logout" role="tab" aria-controls="v-pills-logout" aria-selected="false">Log Out</a>
      </div>
    </div>

    <div class="card-footer">
      <span>Social Media Logos Area</span>
    </div>

  </div>

</div>
<!--style="display: inline-block; display: block;" -->
<div id="UserNavBarArrows" class="imgNav" style="display: inline-block;height: 500px;">
  <button id="btnCloseUserNavBar" class="imgNav"  (click)="closeUserNavBar()">
    <img  id="openImg" src="../../../assets/images/userNavBarPics/double-arrow-left.png" width="24" height="80px;" >
  </button>

  <button id="btnOpenUserNavBar" class="imgNav"  (click)="openUserNavBar()">
    <img id="closeImg" src="../../../assets/images/userNavBarPics/double-arrow-right.png" width="24" height="80px;">
  </button>
</div>

<!--END NAV BAR FOR USERS-->

<!--NAV BAR FOR GUIDERS-->
<div class="card" id="userNavBarMenuCard" style="width: 95%; transition: width 2s;">
  <div class="card-header">
    <div class="row">
      <div class="col text-center">
        <img class="imgGuideProfilePic" src="../../../assets/images/guidesProfilePics/AdebayorProfPic.PNG"
          alt="EmmanuelAdebayor">
      </div>
    </div>
    <div class="row">
      <div class="col-3  text-center">
        <h4 class="title">Name</h4>
        <span class="subText">Manolito Adebayor</span>
      </div>
      <div class="col-5  text-center">
        <h4>Languages </h4>
        <span class="subText">French</span><br>
        <span class="subText">English</span><br>
      </div>
      <div class="col-4  text-center">
        <h4>Popularity</h4>
        <div class="wrapper" style="display: inline-block; text-align: center; width: 170px;">
          <span class="rating">
            <input id="rating5" type="radio" name="rating" value="5">
            <label for="rating5">5</label>
            <input id="rating4" type="radio" name="rating" value="4">
            <label for="rating4">4</label>
            <input id="rating3" type="radio" name="rating" value="3">
            <label for="rating3">3</label>
            <input id="rating2" type="radio" name="rating" value="2" checked>
            <label for="rating2">2</label>
            <input id="rating1" type="radio" name="rating" value="1">
            <label for="rating1">1</label>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12  text-center">
        <h4>Description</h4>
        <div class="subText">
          Lorem
          Ipsum is
          simply dummy text of the
          printing
          and
          typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="nav flex-column nav-pills" style="font-family: 'Raleway', sans-serif;" id="v-pills-tab" role="tablist"
      aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
        aria-controls="v-pills-profile" aria-selected="true">Profile</a>
      <a class="nav-link" style="font-family: 'Raleway', sans-serif;" id="v-pills-messages-tab" data-toggle="pill"
        href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
      <a class="nav-link" style="font-family: 'Raleway', sans-serif;" id="v-pills-mytours-tab" data-toggle="pill"
        href="#v-pills-mytours" role="tab" aria-controls="v-pills-mytours" aria-selected="false">My Tours</a>
      <a class="nav-link" style="font-family: 'Raleway', sans-serif;" id="v-pills-settings-tab" data-toggle="pill"
        href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
      <a class="nav-link" style="font-family: 'Raleway', sans-serif;" id="v-pills-logout-tab" data-toggle="pill"
        href="#v-pills-logout" role="tab" aria-controls="v-pills-logout" aria-selected="false">Log Out</a>
    </div>
  </div>

  <div class="card-footer">
    <span>Social Media Logos Area</span>
  </div>

</div>

<!--style="display: inline-block;display: block;" -->
<div id="UserNavBarArrows" class="align-self-center">
  <button id="btnCloseUserNavBar" (click)="closeUserNavBar()">
    <img src="../../../assets/images/userNavBarPics/double-arrow-left.png" width="24">
  </button>

  <button id="btnOpenUserNavBar" (click)="openUserNavBar()">
    <img src="../../../assets/images/userNavBarPics/double-arrow-right.png" width="24">
  </button>
</div>
<!--END NAV BAR FOR GUIDERS-->