<div class="userNavBarMenuCard" id="userNavBarMenuCard">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col text-center">
          <img class="imgGuideProfilePic" src="../../../assets/images/month-destinations/liam.png"
            alt="EidurGudjohnsen">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h4>Eidur Gudjohnsen</h4>
          <div class='wrapper' style='display: inline-block;text-align :center'>
            <img src="../../../assets/images/star_2_white.png" alt="">
            <img src="../../../assets/images/star_2_white.png" alt="">
            <img src="../../../assets/images/star_2_white.png" alt="">
            <img src="../../../assets/images/star_2_white.png" alt="">
            <img src="../../../assets/images/star_1_white.png" alt="">
            (208)
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="nav flex-column nav-pills" style="font-family: 'Raleway', sans-serif;" id="v-pills-tab" role="tablist"
        aria-orientation="vertical">
        <a class="nav-link" id="v-pills-profile-tab" routerLink="/guider-edit-profile" routerLinkActive="active">Profile</a>
        <a class="nav-link" id="v-pills-messages-tab" routerLink="/messages" routerLinkActive="active">Messages</a>
        <a class="nav-link" id="v-pills-mytrips-tab" routerLink="/guider-budget-historic" routerLinkActive="active">My Trips</a>
        <a class="nav-link" id="v-pills-logout-tab" routerLink="" routerLinkActive="active">Log Out</a>
      </div>
    </div>
    <div class="logo">
      <a routerLink="/main" routerLinkActive="active"><img src="../../../assets/logo/icon_white.png" alt=""></a>
    </div>
    <div class="card-footer">
      <table>
        <tr>
          <td class="fb"><a href="http://facebook.com" target="_blank"><img src="../../../assets/logo/fb.png"></a></td>
          <td class="tw"><a href="http://twitter.com" target="_blank"><img src="../../../assets/logo/tw.png"></a></td>
          <td class="ig"><a href="http://instagram.com" target="_blank"><img src="../../../assets/logo/ig.png"></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>