<div class="both">
    <div class="contTour">

        <h3>Tours</h3>
        <hr>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 pic1"></div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button class="btn">Edit Tour</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 pic2"></div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button class="btn">Edit Tour</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 pic3"></div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <button class="btn">Edit Tour</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 icon"></div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Generate new Tour</h5>
                        <p class="card-text">Click here for generate your new tour!</p>
                        <button class="btn generate">+</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="contServices">

        <h3>Services</h3>
        <hr>

        <div class="list-group">

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nombre de la actividad</h5>
                    <small class="text-muted">300€</small>
                </div>
                <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
                    siempre viene bien.</p>

                <div>
                    <button class="btn">Edit Service</button>
                    <button class="btn delete">Delete</button>
                </div>

            </div>

            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Generate New Service</h5>
                    <small class="text-muted"></small>
                </div>
                <p class="mb-1">Click here for generate new service!</p>

                <div>
                    <button class="btn generate">+</button>
                </div>

            </div>
        </div>

    </div>
</div>