<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active subText" href="#">Budget</a>
            </li>
            <li class="nav-item">
                <a class="nav-link subText" href="#">Legal Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link subText" href="#">Tour Scheddule</a>
            </li>
        </ul>
        <img id="exportToIcon" src="../../../assets/images/budgetIcons/exportIcon.PNG" align="right"
            onmouseover="exportTo()">
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title title">Guider Details</h5>
                <form style="inline-size: initial">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label subText">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="GuiderBudgetName"
                                value="Example Example">
                        </div>

                        <label class="col-sm-2 col-form-label subText">Id</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="GuiderBudgetId"
                                value="123456789">
                        </div>

                        <label class="col-sm-2 col-form-label subText">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="GuiderBudgetPhone"
                                value="(+34) 111 11 11 11">
                        </div>


                    </div>
                </form>
            </div>
            <div class="col-6">
                <h5 class="card-title title">Client Details</h5>
                <form style="inline-size: initial">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label subText">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="UserBudgetName"
                                value="Example Example">
                        </div>

                        <label class="col-sm-2 col-form-label subText">Id</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="UserBudgetId"
                                value="987654321">
                        </div>

                        <label class="col-sm-2 col-form-label subText">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="UserBudgetPhone"
                                value="(+34) 222 22 22 22">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="card">
            <div class="card-header" style="text-align: center">
                <p class="title">Tour Details</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <p class="subTitle">Tour dates</p>
                    </div>
                    <div class="col-4">
                        <label class="subTitle">From</label>
                        <input type="date">
                    </div>
                    <div class="col-4">
                        <label class="subTitle">Until</label>
                        <input type="date">
                    </div>
                </div>
                <form>
                    <div class="form-inline">
                        <p class="subTitle">Location</p>
                        <input type="text">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <!--Basic Tour city Lomé-->
                <div class="card mb-3" style="border-style: solid; border-width: 10px">
                    <img src="../../../assets/images/togoToursImages/TourLome.jpg" alt="Tour Lomé">
                    <div class="card-body">
                        <h5 class="card-title title">Lomé Tour</h5>
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text subText">Basic tour via the main building of the capital
                                </p>
                                <div>Service: pre-colonial-post period path</div>
                                <div>Service: visit congress Palace</div>
                                <div>Service: visit to Headquarters of ECOWAS</div>
                                <div>Service: visit to University of Lomé</div>
                            </div>
                            <div class="col-2">
                                <p class="subText" style="text-align: center">Quantity</p>
                                <div style="text-align: center">2</div>
                                <div style="text-align: center">2</div>
                                <div style="text-align: center">2</div>
                                <div style="text-align: center">2</div>
                            </div>
                            <div class="col-2">
                                    <p class="subText" style="text-align: center">Price</p>
                                    <div style="text-align: center">15</div>
                                    <div style="text-align: center">10</div>
                                    <div style="text-align: center">9</div>
                                    <div style="text-align: center">20</div>
                                </div>
                            <div class="col-2">
                                <p class="subText" style="text-align: center">Amount</p>
                                <div style="text-align: center">30</div>
                                <div style="text-align: center">20</div>
                                <div style="text-align: center">18</div>
                                <div style="text-align: center">40</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Basic Tour Fazao-Malfakassa National Park-->
                <div class="card mb-3" style="border-style: solid; border-width: 10px">
                        <img src="../../../assets/images/togoToursImages/togoJungle.png" alt="Tour Togo Jungle">
                        <div class="card-body">
                            <h5 class="card-title title">Tour Togo Jungle</h5>
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text subText">Basic tour the jungle of Fazao-Malfakassa National Park</p>
                                    <div>Service: Football tours (Stade de Kégué, Stade Omnisport)</div>
                                    <div>Service: Forest d' Amakpave park course</div>
                                    <div>Service: Haho Baloue Cascade park course</div> 
                                </div>
                                <div class="col-2">
                                    <p class="subText" style="text-align: center">Quantity</p>
                                    <div style="text-align: center">2</div>
                                    <div style="text-align: center">2</div>
                                    <div style="text-align: center">2</div>
                                </div>
                                <div class="col-2">
                                    <p class="subText" style="text-align: center">Price</p>
                                    <div style="text-align: center">45</div>
                                    <div style="text-align: center">20</div>
                                    <div style="text-align: center">100</div>
                                </div>
                                <div class="col-2">
                                        <p class="subText" style="text-align: center">Amount</p>
                                        <div style="text-align: center">90</div>
                                        <div style="text-align: center">40</div>
                                        <div style="text-align: center">200</div>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="text title" style="text-align: center">Total amount is: 150$</div>
</div>