
// main colors:
// background-color: rgb(0, 57, 67); Verde Oscuro
// background-color: rgb(0, 172, 139); Verde Claro
// background-color: rgb(204, 209, 209); Gris Claro
// background-color: rgb(241, 179, 33); Amarillo
// background-color: rgb(255, 30, 66); Rojo

.title{
    font-family: 'Ubuntu', sans-serif; 
    font-size: x-large;
}

.subText{
background-color: #007bff;
color: white;
border-style: groove;
border-radius: .25rem;
font-family: 'Raleway', sans-serif;

}

.card-header{
    background-color: rgb(0, 172, 139);
}

.card-body{
    background-color: rgb(204, 209, 209);
}

.card-footer{
    background-color: #007bff;

}