<div class="row sup">
    <div class="menu-res d-lg-none d-md-none d-sm-block d-block col-sm-12 col-12">
        <app-nav-bar-sup></app-nav-bar-sup>
    </div>
</div>
<div class="body">
    <div class="row buttons">
        <div class="col-lg-4 col-md-4 col-sm- 12 col-12">
            <button class="btn">Budget</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm- 12 col-12">
            <button class="btn">Legal Content</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm- 12 col-12">
            <button class="btn">Tour Schedule</button>
        </div>
    </div>
    <div class="row data">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h3>Guider Details</h3>
            <span>Name: </span>Example<br>
            <span>Id: </span>38974598<br>
            <hr>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h3>Client Details</h3>
            <span>Name: </span>Example<br>
            <span>Id: </span>38974598<br>
            <hr>
        </div>
    </div>
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h3>Tour Dates</h3>
            <span>From:</span>
            <input type="date"> <br>
            <span>Until:</span>
            <input type="date" style="margin-left: 14px"> <br>
            <div class="card">
                <img src="../../../assets/images/foto1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lomé Tour</h5>
                    <p class="card-text">Basic tour via the main building of the capital.</p>
                    <ul>
                        <li>Pre-colonial - post period path</li>
                        <li>Visit Congress Palace</li>
                        <li>Visit to headquarters of ECOWAS</li>
                        <li>Visit to University of Lomé</li>
                    </ul>
                    <span>Total Amount: </span> 100,00$
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/foto1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lomé Tour</h5>
                    <p class="card-text">Basic tour via the main building of the capital.</p>
                    <ul>
                        <li>Pre-colonial - post period path</li>
                        <li>Visit Congress Palace</li>
                        <li>Visit to headquarters of ECOWAS</li>
                        <li>Visit to University of Lomé</li>
                    </ul>
                    <span>Total Amount: </span> 100,00$
                </div>
            </div>
        </div>
    </div>
    <div class="row amount">
        <p><span>Total amount is:</span><strong> 200,00$</strong></p>
    </div>
</div>