<div class="row">
  <div class="chats col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="usuary">
      <ul class="friend-list">
        <div class="friend">
          <li>
            <a href="#" class="d-flex justify-content-between">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text-small">
                <p class="name">John Doe<span class="text-hour">Just now</span></p>
                <p class="last-message">Hello, Are you there?<span class="text-number">1</span></p>
              </div>
            </a>
          </li>
        </div>
        <div class="friend">
          <li>
            <a href="#" class="d-flex justify-content-between">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text-small">
                <p class="name">Danny Smith<span class="text-hour">5 min ago</span></p>
                <p class="last-message">Lorem ipsum dolor sit.</p>
              </div>
            </a>
          </li>
        </div>
        <div class="friend">
          <li>
            <a href="#" class="d-flex justify-content-between">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text-small">
                <p class="name">Carolina Herrera<span class="text-hour">3 hour ago</span></p>
                <p class="last-message">Lorem ipsum dolor sit.<img class="attach"
                    src="../../../assets/images/chats/adjuntarAmarillo.png" alt="Adjuntar"></p>
              </div>
            </a>
          </li>
        </div>
        <div class="friend">
          <li>
            <a href="#" class="d-flex justify-content-between">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text-small">
                <p class="name">Mónica Naranjo<span class="text-hour">Yesterday</span></p>
                <p class="last-message">Lorem ipsum dolor sit.</p>
              </div>
            </a>
          </li>
        </div>
        <div class="friend">
          <li>
            <a href="#" class="d-flex justify-content-between">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-9.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text-small">
                <p class="name">Saray del Monte<span class="text-hour">Yesterday</span></p>
                <p class="last-message">Lorem ipsum dolor sit.</p>
              </div>
            </a>
          </li>
        </div>
        <div class="friend">
          <li>
            <a href="#" class="d-flex justify-content-between">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text-small">
                <p class="name">Juaquín Lozano<span class="text-hour">Yesterday</span></p>
                <p class="last-message">Lorem ipsum dolor sit.<img class="attach"
                    src="../../../assets/images/chats/adjuntarAmarillo.png" alt="Adjuntar"></p>
              </div>
            </a>
          </li>
        </div>
        <div class="friend">
          <li>
            <a href="#" class="d-flex justify-content-between">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text-small">
                <p class="name">Sarah Holfsteir<span class="text-hour">Yesterday</span></p>
                <p class="last-message">Lorem ipsum dolor sit.<span class="text-check">✓</span></p>
              </div>
            </a>
          </li>
        </div>
        <div class="friend">
          <li>
            <a href="#" class="d-flex justify-content-between">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text-small">
                <p class="name">Anabelle Grey<span class="text-hour">2 days ago</span></p>
                <p class="last-message">Lorem ipsum dolor sit.</p>
              </div>
            </a>
          </li>
        </div>
        <div class="friend">
          <li>
            <a href="#" class="d-flex justify-content-between">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg" alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text-small">
                <p class="name">Mónica Naranjo<span class="text-hour">Last week</span></p>
                <p class="last-message">Lorem ipsum dolor sit.</p>
              </div>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div class="conversation col-lg-8 col-md-8 col-sm-12 col-12">
    <div class="messages2">
      <div class="messages">
        <ul class="message-list">
          <li>
            <div class="message">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text">
                <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                      src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="message">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg " alt="avatar"
                class="avatar2 rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text">
                <p class="name2"><span class="text-hour2"><img class="reloj"
                      src="../../../assets/images/chats/relojverde.png" alt="">Yesterday</span>Guidername</p>
                <p class="last-message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="message">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text">
                <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                      src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </li>
          <li>
          <li>
            <div class="message">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg " alt="avatar"
                class="avatar2 rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text">
                <p class="name2"><span class="text-hour2"><img class="reloj"
                      src="../../../assets/images/chats/relojverde.png" alt="">Yesterday</span>Guidername</p>
                <p class="last-message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="message">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text">
                <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                      src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="message">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg " alt="avatar"
                class="avatar2 rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text">
                <p class="name2"><span class="text-hour2"><img class="reloj"
                      src="../../../assets/images/chats/relojverde.png" alt="">Yesterday</span>Guidername</p>
                <p class="last-message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="message">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text">
                <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                      src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="message">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg " alt="avatar"
                class="avatar2 rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text">
                <p class="name2"><span class="text-hour2"><img class="reloj"
                      src="../../../assets/images/chats/relojverde.png" alt="">Yesterday</span>Guidername</p>
                <p class="last-message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="message">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
              <div class="text">
                <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                      src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row text">
      <div class="textarea col-lg-10 col-md-10 col-sm-10 col-10">
        <form>
          <textarea placeholder="Type your message here..."></textarea>
        </form>
      </div>
      <div class="buttons col-lg-2 col-md-2 col-sm-2 col-2">
        <button class="send">Send</button>
      </div>
    </div>
  </div>
</div>