div.menu{
    background-image: url(../assets/desktop_bg.jpg);
    padding: 0;
    position: fixed;
}

div.menu-res{
    background-image: url(../assets/desktop_bg.jpg);
    padding: 0;
    margin: 0;
}

div.right{
    padding: 0;
    height: 100vh;
}