div.menu{
    background-image: url(../assets/desktop_bg.jpg);
    padding: 0;
}
div.right{
    padding: 0;
}
.main-container {
    max-width: 100vw; // <= try this
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}