div.container{
    background-image: url(../../../assets/desktop_bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

div.row{
    padding-top: 30px;
    height: 570px;
}

div.row div.background{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px 15px 15px 15px;
        -webkit-border-radius: 15px 15px 15px 15px;
    text-align: center;
}

div.row div.background div.logo{
    height: 90px;
    margin-top: 5px;
}

div.row div.background div.logo img{
    width: 220px
}

div.row div.background div.user{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
    color: #003943;
}

div.row div.background input.input{
    border: #00AC8B 1px solid;
    background-color: white;
    margin: 10px 0 0;
    height: 40px;
    width: 90%;
    border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
}

div.row div.background input.password{
    width: 75%;
}

div.row div.background button.showPass{
    width: 15%;
    margin: 0;
    background-image: url(../../../assets/images/eye.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    background-color: white;
}

div.row div.background input.input::placeholder{
    color: rgb(190, 190, 190);
}

div.row div.background div.birth{
    text-align: left;
    margin: 10px 0 0;
    padding: 0 15px;
    font-size: 10pt;
}

div.row div.background button{
    background-color: #00AC8B;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 10px 0 0;
    height: 40px;
    width: 90%;
    color: white;
}

div.row div.background table{
    margin: 5px auto 0;
    height: 30px;
    width: 90%;
    font-size: 10pt;
    color: #00AC8B;
}

div.row div.background table tr td.remember{
    text-align: left;
}

div.row div.background table tr td.forgot{
    text-align: right;
}

div.second{
    margin-top: 10px;
}

div.register{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px white solid;
    text-align: center;
    color: white;
    font-size: 10pt;
}

@media (min-width: 768px) {
    div.container {
        max-width: 100%;
    }
}