<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-3 col-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-10 background">
            <div class="logo"><img src="../../../assets/logo/logo.png" alt="logo"></div>
            <div class="user"><strong>{{tittle}}</strong></div>
            <input type="text" class="input" placeholder="&#xf0e0; Email Address" [(ngModel)]="user.email">
            <input type="text" class="input" placeholder="&#xf007; Name" [(ngModel)]="user.name">
            <input type="text" class="input" placeholder="&#xf007; Last Name" [(ngModel)]="user.lastName">
            <input type={{type}} class="input password" id="password" placeholder="&#xf13e; Password" [(ngModel)]="user.password">
            <button class="btn showPass" (click)="showPass()"></button>
            <div class="birth">
                <strong>Date of Birth</strong><br>
                You have to be older than 18. The rest of Find A Guide users won't can see your birthday date.
            </div>
            <input type="date" class="input" [(ngModel)]="user.birthDate">
            <button class="btn" (click)="newUser()" routerLink = "/main" >REGISTER</button>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-3 col-1"></div>
    </div>
