.second a{
    color: white;
}

div.container{
    background-image: url(../../../assets/desktop_bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

div.row{
    padding-top: 120px;
    height: 300px;
}

div.row div.background{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px 15px 15px 15px;
        -webkit-border-radius: 15px 15px 15px 15px;
    text-align: center;
}

div.row div.background div.logo{
    height: 100px;
    margin-top: 5px;
}

div.row div.background div.logo img{
    width: 250px
}

div.row div.background input.input{
    border: #00AC8B 1px solid;
    margin: 10px 0 0;
    height: 40px;
    width: 90%;
    border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
}

div.row div.background input.input::placeholder{
    color: rgb(190, 190, 190);
}

div.row div.background button{
    background-color: #00AC8B;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 10px 0 0;
    height: 40px;
    width: 90%;
    color: white;
}

div.row div.background table{
    margin: 5px auto 0;
    height: 30px;
    width: 90%;
    font-size: 10pt;
    color: #00AC8B;
}

div.row div.background table tr td.remember{
    text-align: left;
}

div.row div.background table tr td.forgot{
    text-align: right;
}

div.second{
    margin-top: 10px;
}

div.register{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px white solid;
    text-align: center;
    color: white;
    font-size: 10pt;
}

@media (min-width: 768px) {
div.container {
    max-width: 100%;
}
}