<div class="container">
    <div class="row">
        <div class="offset-1 col-10 background">
            <div class="col-12 logo"><img src="../../../assets/logo/logo.png" alt="logo"></div>
            <input type="text" class="input" placeholder="&#xf007;  Username">
            <input type="text" class="input" placeholder="&#xf13e;  Password">
            <button class="btn">LOGIN</button>
            <table>
                <tr>
                    <td class="remember"><input type="checkbox">Remember me</td>
                    <td class="forgot">Forgot password?</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="offset-1 col-10 register">
        Don't have account? <strong>REGISTER HERE!</strong>
    </div>
</div>