<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-3 col-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-10 background">
            <div class="logo"><img src="../../assets/logo/logo.png" alt="logo"></div>
            <input type="text" class="input" placeholder="&#xf0e0;  Email" [(ngModel)]="user.email">
            <input type="password" class="input password" placeholder="&#xf13e;  Password" [(ngModel)]="user.password">
            <button class="btn" routerLink="main" routerLinkActive="active" (click)="login()">LOGIN</button>
            <table>
                <tr>
                    <td class="remember"><input type="checkbox">Remember me</td>
                    <td class="forgot">Forgot password?</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-3 col-1"></div>
    </div>
    <div class="row second">
        <div class="col-lg-4 col-md-3 col-sm-3 col-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-10 register">
            Don't have account? <strong><a routerLink="selector" routerLinkActive="active">REGISTER HERE!</a></strong>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-3 col-1"></div>
    </div>
</div>
<router-outlet></router-outlet>
