<div class="profile">
<div class="editImage">
  <h3>Imagen de Perfil :</h3>
  <img src="../../../assets/images/month-destination/sarah.png" alt="">
  <button>Editar</button>
</div>
<div class="editName">
  <h3>Nombre :</h3>
<p>Anstasia Hallen <button>Editar</button><input type="text" placeholder="Nombre..."></p>

</div>
<div class="editAge">
  <h3>Fecha de Nacimiento :</h3>
  <p>27/02/1988  <button>Editar</button> <input type="date" placeholder="Edad..."></p>
</div>
<div class="editEmail">
  <h3>Email :</h3>
  <p>AnstasiaHallen@gmail.com <button>Editar</button><input type="email" placeholder="Email..."></p>
</div>
<div class="editPassword">
  <h3>Password :</h3>
 <button>Editar</button> <input type="password" placeholder="Password...">
</div>
<div class="editLenguages">
  <h3>Idiomas :</h3>
  <ul>
  <li> <p>Inglés - Alto<button>Editar</button><button class="delete">Borrar</button></p></li>
  <li> <p>Francés - Medio <button>Editar</button><button class="delete">Borrar</button></p></li>
  <li> <p>Italiano - Medio<button>Editar</button><button class="delete">Borrar</button></p> </li>
</ul>
<button class="add">Añadir</button>
</div>
<div class="editCertificates">
  <h3>Certificaciones : </h3>
  <ul>
  <li><p>Bellas Artes - Universidad Nebrija‎  <button>Editar</button><button class="delete">Borrar</button><input type="text" placeholder="Certificación..."></p></li>
  <li><p>Guía turístico - Campustraining.es <button>Editar</button><button class="delete">Borrar</button> <input type="text" placeholder="Certificación..."></p></li>
</ul>
<button class="add">Añadir</button>
</div>
</div>
