<div class="row sup">
    <div class="menu-res d-lg-none d-md-none d-sm-block d-block col-sm-12 col-12">
        <app-nav-bar-sup></app-nav-bar-sup>
    </div>
</div>
<div class="body">
    <div class="messages2">
        <div class="messages">
            <ul class="message-list">
                <li>
                    <div class="message">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text">
                            <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                                        src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                            <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="message">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg " alt="avatar"
                            class="avatar2 rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text">
                            <p class="name2"><span class="text-hour2"><img class="reloj"
                                        src="../../../assets/images/chats/relojverde.png"
                                        alt="">Yesterday</span>Guidername</p>
                            <p class="last-message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium
                                doloremque laudantium.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="message">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text">
                            <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                                        src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                            <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </li>
                <li>
                <li>
                    <div class="message">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg " alt="avatar"
                            class="avatar2 rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text">
                            <p class="name2"><span class="text-hour2"><img class="reloj"
                                        src="../../../assets/images/chats/relojverde.png"
                                        alt="">Yesterday</span>Guidername</p>
                            <p class="last-message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium
                                doloremque laudantium.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="message">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text">
                            <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                                        src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                            <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="message">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg " alt="avatar"
                            class="avatar2 rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text">
                            <p class="name2"><span class="text-hour2"><img class="reloj"
                                        src="../../../assets/images/chats/relojverde.png"
                                        alt="">Yesterday</span>Guidername</p>
                            <p class="last-message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium
                                doloremque laudantium.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="message">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text">
                            <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                                        src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                            <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="message">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg " alt="avatar"
                            class="avatar2 rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text">
                            <p class="name2"><span class="text-hour2"><img class="reloj"
                                        src="../../../assets/images/chats/relojverde.png"
                                        alt="">Yesterday</span>Guidername</p>
                            <p class="last-message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium
                                doloremque laudantium.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="message">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text">
                            <p class="name">Sarah Holfsteir<span class="text-hour"><img class="reloj"
                                        src="../../../assets/images/chats/relojamarillo.png" alt="">Yesterday</span></p>
                            <p class="last-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
            rel="stylesheet" />
        <div class="search-wrapper">
            <input type="text" class="search">
            <a><i class="fal fa-paperclip" routerLink="/new-budget" routerLinkActive="active"></i></a> <a><i class="fal fa-paper-plane"></i></a>
        </div>
    </div>
</div>