<div class="body">
  <div class="row">
    <div class="back col-3"></div>
    <div class="back col-3"></div>
    <div class="back col-3"></div>
    <div class="back col-3">
      <button routerLink="/filters" routerLinkActive="active">Back</button>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <img src="../../../assets/imgnav/foto.webp" class="card-img-top" alt="...">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="card-body">
          <h5 class="card-title">Lucía Badiola</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer. This is a wider card with supporting text below as a natural
            lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="rating">
            <img src="../../../assets/images/star_2.png" alt="">
            <img src="../../../assets/images/star_2.png" alt="">
            <img src="../../../assets/images/star_2.png" alt="">
            <img src="../../../assets/images/star_2.png" alt="">
            <img src="../../../assets/images/star_1.png" alt="">
            <span style="color: black; font-weight: none;">(432)</span>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Languages: <span style="color: black; font-weight: none;">English, French</span>
          </li>
          <li class="list-group-item">
            Birth Date: <span style="color: black; font-weight: none;">03 / 10 /1992</span>
          </li>
          <li class="list-group-item">
            Acreditation: <span style="color: black; font-weight: none;">Fine Arts Degree,
              Certification
              of
              Advanced English</span>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="d-lg-block d-md-block d-sm-none d-none col-lg-6 col-md-6 col-sm-0 col-0">
                <button routerLink="/messages" routerLinkActive="active">Go Chat!</button>
              </div>
              <div class="d-lg-none d-md-none d-sm-block d-block col-sm-6 col-6">
                <button routerLink="/chat2" routerLinkActive="active">Go Chat!</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 tours">
      <h4>Pregenerate Tour</h4>
      <hr>
      <div class="card tour">
        <img src="../../../assets/images/foto1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">London</h5>
          <p class="card-text">Basic tour via the main building of the capital.</p>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <span>Total Amount: </span> 100,00$
        </div>
      </div>
      <div class="card tour">
        <img src="../../../assets/images/foto1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ibiza</h5>
          <p class="card-text">Basic tour via the main building of the capital.</p>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <span>Total Amount: </span> 100,00$
        </div>
      </div>
      <div class="card tour">
        <img src="../../../assets/images/foto1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Togo</h5>
          <p class="card-text">Basic tour via the main building of the capital.</p>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <span>Total Amount: </span> 100,00$
        </div>
      </div>
      <div class="card tour">
        <img src="../../../assets/images/foto1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Philipines</h5>
          <p class="card-text">Basic tour via the main building of the capital.</p>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <div class="service list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Name of Experience</h5>
            </div>
            <span>Duration: </span> 3 hrs.
            <span>Price: </span> 100,00$
          </div>
          <span>Total Amount: </span> 100,00$
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 experience">
      <h4>Experiences</h4>
      <hr>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Name of Experience</h5>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dignissim mi at
          accumsan.
          Donec congue risus nunc, id luctus metus sollicitudin in.</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00$
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Name of Experience</h5>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dignissim mi at
          accumsan.
          Donec congue risus nunc, id luctus metus sollicitudin in.</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00$
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Name of Experience</h5>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dignissim mi at
          accumsan.
          Donec congue risus nunc, id luctus metus sollicitudin in.</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00$
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Name of Experience</h5>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dignissim mi at
          accumsan.
          Donec congue risus nunc, id luctus metus sollicitudin in.</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00$
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Name of Experience</h5>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dignissim mi at
          accumsan.
          Donec congue risus nunc, id luctus metus sollicitudin in.</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00$
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Name of Experience</h5>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dignissim mi at
          accumsan.
          Donec congue risus nunc, id luctus metus sollicitudin in.</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00$
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Name of Experience</h5>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dignissim mi at
          accumsan.
          Donec congue risus nunc, id luctus metus sollicitudin in.</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00$
      </div>
      <div class="service list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Name of Experience</h5>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus dignissim mi at
          accumsan.
          Donec congue risus nunc, id luctus metus sollicitudin in.</p>
        <span>Duration: </span> 3 hrs.
        <span>Price: </span> 100,00$
      </div>
    </div>
  </div>
</div>