*{
    font-family: 'Ubuntu', sans-serif;
}
.header{
    margin-top: 2.5%;
    margin-left: 2%;
    width: 88%;
}
.card{
    margin-top: 2.5%;
    border: solid #00ab8c;
    width: 89%;
}

.card-certificates{
    text-decoration: none;
}

span{
    font-weight: bold;
    font-size: 14pt;
}

div.card-lang{
    padding-top: 35px;
}

div.rating{
    padding-top: 20px;
}

div.rating img{
    width: 8%;
}

.card-img{
    width: 100%;
    height: 100%;
}
.tour{
    margin-top: 2.5%;
    margin-left: 10%;
    width: 80%;
}
.services{
    margin-top: 2.5%;
    margin-left: 10%;
    width: 80%;
}
hr{
    border: 1.5px solid #00ab8c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.stars{
    width: 60%;
    height: 20%;
}
.chat{
    float: right;
    width: 40%;
}

button{
    margin-top: 5%;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: #00ab8c;
}

