<div class="header">

  <div class="chat">
    <h4>Talk now with our guider!</h4>
    <hr>
    <button class="button">Go Chat!</button>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/imgnav/foto.webp" class="card-img" alt="Ad">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Lucia Badiola</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted"><img src="../../../assets/imgnav/stars.jpg" alt="Ad"
                class="stars"></small></p>
        </div>
      </div>
    </div>
  </div>


</div>



<div class="tour">
  <h4>Pregenerate Tour</h4>
  <hr>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/imgnav/ibiza.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/imgnav/foto2.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/imgnav/foto1.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services">
  <h4>Services</h4>
  <hr>

  <div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>

      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre de la actividad</h5>
        <small class="text-muted">300€</small>
      </div>
      <p class="mb-1">Un pequeño resumen de la actividad para hacerse el guay y parecer mas profesional que
        siempre viene bien.</p>
    </div>

  </div>

</div>