<section class="section section-macbook-pro" data-analytics-section-engagement="name:macbook pro">
    <div class="section-content">
        <h2 class="product-eyebrow typography-callout">MacBook&nbsp;Pro</h2>
        <h3 class="product-headline typography-product-headline-elevated">Más potencia.<br>Más
            rendimiento.<br>Más&nbsp;pro.</h3>
        <ul class="links-inline">
            <li>
                <a href="/es/macbook-pro/" data-analytics-title="learn more" data-analytics-region="learn more"
                    class="icon-wrapper typography-intro-elevated"><span class="icon-copy">Más información</span><span
                        class="icon icon-after more"></span></a> </li>
            <li>
                <a href="/es/shop/goto/macbook_pro/select" data-analytics-title="buy macbook pro"
                    data-analytics-region="buy" class="icon-wrapper typography-intro-elevated"><span
                        class="icon-copy">Comprar<span class="visuallyhidden">MacBook&nbsp;Pro</span></span><span
                        class="icon icon-after more"></span></a> </li>
        </ul>
        <figure class="macbook-pro-image" data-progressive-image=""></figure>
    </div>
</section>