<h4>September Destinations</h4>
<div class="row">
    <div class="col-3">
        <div class="card">
            <img src="../../../assets/london.png" class="card-img-top" alt="london">
            </div>
          </div>
          <div class="col-3">
              <div class="card" >
                  <img src="../../../assets/togo.png" class="card-img-top" alt="london">
                  </div>
                </div>
                <div class="col-3">
                    <div class="card" >
                        <img src="../../../assets/philipines.png" class="card-img-top" alt="london">
                        </div>
                      </div>
                      <div class="col-3">
                          <div class="card">
                              <img src="../../../assets/ibiza.png" class="card-img-top" alt="london">
                              </div>
                            </div>

                            <h4 class="h42">Guiders of the month</h4>
</div>
<div class="row">
    <div class="col-3">
        <div class="card">
            <img src="../../../assets/sarah.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title">Sarah Jones</p>
              <p class="card-text">Glasgow, Scotland</p>
            </div>
          </div>
          </div>
          <div class="col-3">
              <div class="card">
                  <img src="../../../assets/liam.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Liam Soprano</h5>
                    <p class="card-text">Vancouver, Canada</p>
                  </div>
                </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src="../../../assets/ani.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Anita Keller</h5>
                          <p class="card-text">Washington, EEUU</p>
                        </div>
                      </div>
                      </div>
                      <div class="col-3">
                          <div class="card">
                              <img src="../../../assets/joe.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Felipe Hdz</h5>
                                <p class="card-text">Ushuaia, Argentina</p>
                              </div>
                            </div>


</div>
