<h4>September Destinations</h4>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
      <a><img src="../../../assets/images/month-destinations/london.png" class="card-img-top" alt="london"></a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
        <a><img src="../../../assets/images/month-destinations/togo.png" class="card-img-top" alt="togo"></a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
        <a><img src="../../../assets/images/month-destinations/philipines.png" class="card-img-top" alt="philipines"></a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
        <a><img src="../../../assets/images/month-destinations/ibiza.png" class="card-img-top" alt="ibiza"></a>
    </div>
  </div>
  <h4 class="h42">Guiders of the month</h4>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
        <a><img src="../../../assets/images/month-destinations/sarah.png" class="card-img-top" alt="sarah"></a>
      <div class="card-body">
        <p class="card-title">Sarah Jones</p>
        <p class="card-text">Glasgow, Scotland</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
        <a><img src="../../../assets/images/month-destination/liam.png" class="card-img-top" alt="liam"></a>
      <div class="card-body">
        <h5 class="card-title">Liam Soprano</h5>
        <p class="card-text">Vancouver, Canada</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
        <a><img src="../../../assets/images/month-destinations/ani.png" class="card-img-top" alt="ani"></a>
      <div class="card-body">
        <h5 class="card-title">Anita Keller</h5>
        <p class="card-text">Washington, EEUU</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
        <a><img src="../../../assets/images/month-destinations/joe.png" class="card-img-top" alt="joe"></a>
      <div class="card-body">
        <h5 class="card-title">Felipe Hdz</h5>
        <p class="card-text">Ushuaia, Argentina</p>
      </div>
    </div>
  </div>
