.row{
  margin-left: 5px;
  margin-right: 5px;
}
.card{
  border:none;
}
.card-img-top{
  width: 50px;
  margin-left: 5px;
}
.card-title{
  font-family: 'Raleway', sans-serif;
  font-weight:  bold;
  color:#003943;
  font-size: 0.3em;
  margin-left:14px;
}
.card-text{
  font-family: 'Raleway', sans-serif;
  color:#003943;
  font-size: 0.3em;
  margin-top: -10px;
  margin-left: 5px;
}
h4{
  font-size: 0.73em;
  font-family: 'Ubuntu', sans-serif;
  color:#003943;
  margin-left: 25px;
  margin-top: 10px;
}
.h42{
  margin-left: 19px;
}
.card-body {
padding: 0em;
}
@media only screen  and (min-width : 1224px) {
  .card-img-top{
    width: 150px;
    margin-left: 5px;
  }
  h4{
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    color:#003943;
    margin-left: 25px;
    margin-top: 10px;
  }
  .h42{
    margin-left: 19px;
    margin-top: 10px;
  }
  .card-body {
  padding: 0em;
  }
  .card-title{
    font-family: 'Raleway', sans-serif;
    font-weight:  bold;
    color:#003943;
    font-size: 1em;
    margin-left:14px;
    margin-left: 35px;
  }
  .card-text{
    font-family: 'Raleway', sans-serif;
    color:#003943;
    font-size: 1em;
    margin-top: -10px;
    margin-left: 15px;
  }
  .row{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
  }
}
