<h4>September Destinations</h4>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
      <a><img src="../../../assets/images/month-destinations/london.png" class="card-img-top" alt="london"></a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
      <a><img src="../../../assets/images/month-destinations/togo.png" class="card-img-top" alt="togo"></a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
      <a><img src="../../../assets/images/month-destinations/philipines.png" class="card-img-top" alt="philipines"></a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
      <a><img src="../../../assets/images/month-destinations/ibiza.png" class="card-img-top" alt="ibiza"></a>
    </div>
  </div>
  <h4 class="h42">Guiders of the month</h4>
</div>
<div class="row">
  <div *ngFor="let guider of guidersList"  class="col-lg-3 col-md-3 col-sm-12 col-12">
    <div class="card">
      <a><img [src]="guider.picture" class="card-img-top" alt="sarah"></a>
      <div class="card-body">
        <p class="card-title">{{guider.name}}</p>
        <p class="card-text">{{guider.guiderInfo.location}}</p>
      </div>
    </div>
  </div>

</div>
