<div class="body">
    <div class="usuary">
        <ul class="friend-list">
            <div class="friend">
                <li>
                    <a routerLink="/chat2" routerLinkActive="active" class="d-flex justify-content-between">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text-small">
                            <p class="name">John Doe<span class="text-hour">Just now</span></p>
                            <p class="last-message">Hello, Are you there?<span class="text-number">1</span></p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="friend">
                <li>
                    <a routerLink="/chat2" routerLinkActive="active" class="d-flex justify-content-between">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text-small">
                            <p class="name">Danny Smith<span class="text-hour">5 min ago</span></p>
                            <p class="last-message">Lorem ipsum dolor sit.</p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="friend">
                <li>
                    <a routerLink="/chat2" routerLinkActive="active" class="d-flex justify-content-between">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text-small">
                            <p class="name">Carolina Herrera<span class="text-hour">3 hour ago</span></p>
                            <p class="last-message">Lorem ipsum dolor sit.<img class="attach"
                                    src="../../../assets/images/chats/adjuntarAmarillo.png" alt="Adjuntar"></p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="friend">
                <li>
                    <a routerLink="/chat2" routerLinkActive="active" class="d-flex justify-content-between">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text-small">
                            <p class="name">Mónica Naranjo<span class="text-hour">Yesterday</span></p>
                            <p class="last-message">Lorem ipsum dolor sit.</p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="friend">
                <li>
                    <a routerLink="/chat2" routerLinkActive="active" class="d-flex justify-content-between">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-9.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text-small">
                            <p class="name">Saray del Monte<span class="text-hour">Yesterday</span></p>
                            <p class="last-message">Lorem ipsum dolor sit.</p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="friend">
                <li>
                    <a routerLink="/chat2" routerLinkActive="active" class="d-flex justify-content-between">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text-small">
                            <p class="name">Juaquín Lozano<span class="text-hour">Yesterday</span></p>
                            <p class="last-message">Lorem ipsum dolor sit.<img class="attach"
                                    src="../../../assets/images/chats/adjuntarAmarillo.png" alt="Adjuntar"></p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="friend">
                <li>
                    <a routerLink="/chat2" routerLinkActive="active" class="d-flex justify-content-between">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text-small">
                            <p class="name">Sarah Holfsteir<span class="text-hour">Yesterday</span></p>
                            <p class="last-message">Lorem ipsum dolor sit.<span class="text-check">✓</span></p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="friend">
                <li>
                    <a routerLink="/chat2" routerLinkActive="active" class="d-flex justify-content-between">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg " alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text-small">
                            <p class="name">Anabelle Grey<span class="text-hour">2 days ago</span></p>
                            <p class="last-message">Lorem ipsum dolor sit.</p>
                        </div>
                    </a>
                </li>
            </div>
            <div class="friend">
                <li>
                    <a routerLink="/chat2" routerLinkActive="active" class="d-flex justify-content-between">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg" alt="avatar"
                            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                        <div class="text-small">
                            <p class="name">Mónica Naranjo<span class="text-hour">Last week</span></p>
                            <p class="last-message">Lorem ipsum dolor sit.</p>
                        </div>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>