
.contenedor{
    background-image: url('../../../assets/imgnav/mapa.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
}
.form-check-inline {
    display: flex;
}
.titulo{
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 12%;
    font-family: 'Ubuntu', sans-serif;
}
.date{
    border-radius: 5px;
    border: solid #00ac8b;
}
.formulario{
    color:black;
    font-family: 'Ubuntu', sans-serif; 
    width: 100%;
    background-color: white;
    height: 100%;  
}
h1{
    padding-left: 5%;
}
h3{
  color: #00ac8b;
}
.row{
    text-align: center;
    padding-top: 5%;
}
.form-check{
    margin-left: 33%;
    padding-bottom: 5%;
    font-size: 20px;
}
.input-group-text{
    width: 80px;
}

@import "https://fonts.googleapis.com/css?family=Lato:400,700";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#search-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row-reverse nowrap;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  width: 33%;
  margin-left: 33%;
  margin-top:5%;
}
#search-wrapper #search {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 25px 25px 0;
  color: #444;
  padding: .6rem .5rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
  width: 100%;
}
#search-wrapper #search + i {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  border-right: 0;
  color: #777;
  padding: .80rem .80rem;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}
#search-wrapper #search:focus {
  border-color: #999;
  outline: none;
}
#search-wrapper #search:focus + i {
  border-color: #999;
}
