.container{
    background-image: url('../../../assets/images/navegador_pic.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 10%;
    height: 250px;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
}

div.container img.icon{
  width: 10%;
}

div.dest input{
  width: 80%;
  height: 30px;
  font-size: 12pt;
  padding-left: 10px;
  border: 1px solid #00AB8C;
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

div.dest input::placeholder{
  color: rgb(190, 190, 190);
}

@media only screen  and (min-width : 1224px) {

  .container{
    background-image: url('../../../assets/images/navegador_pic.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 3%;
    height: 250px;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24pt;
    max-width: 100%;
}

div.container img.icon{
  width: 5%;
}

div.dest input{
  width: 40%;
  height: 30px;
  font-size: 12pt;
  padding-left: 10px;
  border: 1px solid #00AB8C;
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

}