<h4 style="text-align: center">My Budgets</h4>
<div class="row">
    <div class="col-4">
        <app-side-nav-bar></app-side-nav-bar>
    </div>
    <div class="col-4">
        <!--Guider Budget Filters-->
        <div>
            <button type="button" class="btn btn-outline-primary btn-lg ">Pending</button>
            <button type="button" class="btn btn-outline-secondary btn-lg ">Accepted</button>
            <button type="button" class="btn btn-outline-success btn-lg ">Over</button>
        </div>
        <!--End Guider Budget Filters-->
        <ul>
            <div class="card">
                <div class="card-header">Budget 1</div>
                <div class="card-body">Hola budget 1 details</div>
            </div>
            <div class="card">
                <div class="card-header">Budget 2</div>
                <div class="card-body">Hola budget 2 details</div>
            </div>
            <div class="card">
                <div class="card-header">Budget 3</div>
                <div class="card-body">Hola budget 3 details</div>
            </div>
            <div class="card">
                <div class="card-header">Budget 4</div>
                <div class="card-body">Hola budget 4 details</div>
            </div>

        </ul>
    </div>
    <div class="col-4">
        <app-guider-budget></app-guider-budget>
    </div>
</div>